body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #484fad;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#results {
    margin-top: 20px;
}
